/* header section */
.header-container{
    background-image: url(./assests/media/background\ 1.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.right-icon-bar{
    width: 175.8px;
    text-align: right;
}
.head-content{
    font-size: 26px;
    text-align: center;
}
.nav{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 36px;
}
.banner-title h1{
    margin: 40px 0;
    font-size: 108px;
    font-weight: bolder;
}
.banner-desc{
    margin: 40px 0;
    font-weight: bolder;
    padding-top: 30px;
    font-size: 15px;
}

/* banner-profile-container section */
.banner-profile-container{
    border-top: 1px solid var(--font-primary-color);
    border-bottom: 1px solid var(--font-primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkicon-set{
    display: flex;
    flex-direction: row;
}
.checkhero-container{
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 50px;
}
.checkicon-set h1{
    text-transform: uppercase;
    font-size: 2.1rem;
    padding-right: 5px;
    padding-bottom: 5px;
}
#heroicon-arrow{
    width: 32px;
    padding-top: 5px;
}
.profile-submit{
    height: 300px;
}
.profile-submit img{
    height: 100%;
}

/* calculating-container section */
.calculating-container{
    width: 100%;
}
.counting-container{
    display: flex;
    justify-content: space-between;
    width: 97%;
}
.follower{
   font-size: 7rem;
}
.text-project{
    font-size: 25px;
    padding-top: 10px;
}

@media only screen and (min-width: 200px) and (max-width: 576px){
    .container{
        padding: 0 5px;
    }
    .nav h3{
       font-size: 16px;
    }
    .right-icon-bar {
        width: 40px;
        height: 40px;
        background-color: black;
    }
    .banner-title h1{
       font-size: 35px;
       margin: 30px 0;
    }
    .banner-desc{
       font-size: 10px;
       padding: 0;
    }
    .counting-container{
       flex-direction: column;
   }
   .banner-profile-container{
    display: flex;
    flex-direction: column;
   }
   .checkicon-set h1{
    font-size: 1.7rem;
   }
   .profile-submit{
    width: 80%;
    height: 150px;
    }
    .follower{
        font-size: 3rem;
    }
    .text-project {
        font-size: 18px;
    }
 }