.main-container{
    margin-top: 40px;
}
.section-title{
    padding-top: 50px;
    font-size: 40px;
    text-transform: uppercase;
}

/* my-expertise starts here */
.expertise-container{
    background: linear-gradient(#ca38ff2e, #3015fa39);
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}  
.image-positioning{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
/* my-expertise ends here */

/* projects starts here */
.projects-profile-submit{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}
.projects-profile-submit img{
    width: 100%;
}
.projects-button{
    display: flex;
    justify-content: center;
}
.projects-button button{
    padding: 15px 50px;
    background-color: var(--background-color);
    color: var(--font-primary-color);
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid white;
    font-size: 40px;
    text-transform: uppercase;
    transform: all 1s;
    cursor: pointer;
}
.projects-button button:hover{
    background-color: #4f46f4;
    border: 4px solid rgb(1, 1, 95);
}
/* projects ends here */

/* blog starts here */
.blogs-all-sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
  
}
.blogs-pictures img{
    width: 100%;
}
.tag{
    background-color: var( --font-primary-color);
    border-radius: 50px;
    width: fit-content;
    padding: 17px 30px;
    margin: 30px 0;
}
.tag h1{
    color: black;
}
.date-time{
    display: flex;
    gap: 20px;
}
.bullet1{
    width: 15px;
    height: 15px;
    background-color: blueviolet;
    border-radius: 100%;
}
.date{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}
.bullet2{
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 100%;
}
.logo-title{
    margin: 30px 0;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
/* blog ends here */

/* testimonial starts here */
.sections-of-testimonial{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.testimonial-header h1{
    font-size: 45px;
    font-weight: 900;
    background: linear-gradient(45deg, #b70df9, #743bf3);
    background-clip: text;
    color: transparent;
}
.testimonial-title{
    text-align: center;
    font-size: 1.2rem;
}
.testimonial-cards{
    margin-top: 40px;
    display: flex;
    gap: 15px;
}
.left-top-card{
    width: 65%;
}
.left-brief-top{
    background-color: rgb(48, 12, 85);
    display: flex;
}
.left-brief-bottom{
    display: flex;
    background-color: rgb(48, 12, 85);
    margin-top: 15px;
} 
.testi-img{
    height: 100%;
}
.test-card-head{
    font-size: 2.2rem;
    padding: 40px 15px 0 15px;
}
.test-card-desc{
    font-size: 1.2rem;
    padding: 20px 15px 0 15px;
} 
.right-side-card{
    width: 35%;
    background-color: rgb(48, 12, 85);
}  
.right-card-img{
    width: 100%;
}
/* testimonial section ends */

@media only screen and (min-width: 200px) and (max-width: 576px){
    .section-title {
       padding-top: 25px;
    }

    /* expertise container starts here */
    .image-positioning{
        flex-direction: column;
        gap: 25px;
        margin: 20px 0;
    }
    /* expertise container ends here */

    /* my-projects starts here */
    .projects-profile-submit{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-button button {
        padding: 10px 15px;
        font-size: 17px;      
    }
    /* my-projects ends here */

    /* my-blogs starts here */
    .blogs-all-sections {
        grid-template-columns: repeat(1, 1fr);
    }
    .logo-title{
        margin: 10px 0;
    }
    .logo-title h1{
        font-size: 23px;
    }
    /* my-blogs ends here */

    /* testiominal starts */
    .sections-of-testimonial{
        margin-top: 40px;
    }
    .testimonial-header h1{
        font-size: 30px;
    }
    .testimonial-title{
        font-size: 15px;
    }
    .testimonial-cards{
        flex-direction: column;
        gap: 15px;
    }
    .test-card-head {
        font-size: 30px;
        padding-top: 20px;
    }
    .test-card-desc {
        font-size: 20px;
        padding: 10px 15px 20px 15px;
    }
    .left-top-card{
        width: 100%;
    }
    .testi-img{
        width: 100%;
    }
    .left-brief-top{
        flex-direction: column;
    }
    .left-brief-bottom {
        flex-direction: column;

    }
    .right-side-card{
        width: 100%;
    }
   
    /* testiominal ends */
}