.main-container{
    margin-top: 40px;
    border-top: 1px solid var(--font-primary-color);
    border-bottom: 1px solid var(--font-primary-color);
}
.section-title{
    padding-top: 50px;
    font-size: 40px;
    text-transform: uppercase;
}

/* projects starts here */
.expertise-content{
    background-image: url(./assests/media/background\ 2.png);
    background-repeat: no-repeat;
    background-position: top bottom;
}

.design-profile-submit{
    padding-top: 40px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 200px;
}
.design-profile-submit img{
    width: 100%;
    padding-bottom: 60px;
}
/* my-expertise ends here */

/* projects starts here */
.projects-profile-submit{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}
.projects-profile-submit img{
    width: 100%;
}
.projects-button{
    display: flex;
    justify-content: center;
}
.projects-button button{
    padding: 15px 50px;
    background-color: var(--background-color);
    color: var(--font-primary-color);
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid white;
    font-size: 40px;
    text-transform: uppercase;
}
/* projects ends here */

/* blog starts here */
.blogs-all-sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
  
}
.blogs-pictures img{
    width: 100%;
}
.tag{
    background-color: var( --font-primary-color);
    border-radius: 50px;
    width: fit-content;
    padding: 17px 30px;
    margin: 30px 0;
}
.tag h1{
    color: black;
}
.date-time{
    display: flex;
    gap: 20px;
}
.bullet1{
    width: 15px;
    height: 15px;
    background-color: blueviolet;
    border-radius: 100%;
}
.date{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}
.bullet2{
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 100%;
}
.logo-title{
    margin: 30px 0;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
/* blog ends here */

/* testimonial starts here */
.sections-of-testimonial{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.testimonial-header h1{
    font-size: 45px;
    font-weight: 900;
    background-image: linear-gradient(45deg, #b70df9, #743bf3);
    background-clip: text;
    color: transparent;
}
.testimonial-title{
    text-align: center;
    font-size: 1.2rem;
}
.testimonial-cards{
    margin-top: 40px;
    display: flex;
    gap: 15px;
}
.left-top-caard{
    width: 50%;
}
.left-brief-top{
    background-color: rgb(48, 12, 85);
    display: flex;
}
.left-brief-bottom{
    display: flex;
    background-color: rgb(48, 12, 85);
    margin-top: 15px;
} 

.test-card-head{
    margin-top: 50px;
    font-size: 2.2rem;
    padding: 15px;
}
.test-card-desc{
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 15px;
} 
.right-side-card{
    width: 50%;
    background-color: rgb(48, 12, 85);
}  
/* testimonial section ends */

@media only screen and (min-width: 200px) and (max-width: 576px){
    .section-title {
       padding-top: 25px;
       font-size: 18px;
    }

    /* expertise content starts here */
    .main-container {
        margin-top: 0px;
    }
    .expertise-content{
        padding: 0;
    }
    .design-profile-submit{
        grid-template-columns: repeat(1, 1fr);
    }
    /* expertise content ends here */

    /* my-projects starts here */
    .my-projects{
        padding: 0;
    }
    .projects-profile-submit{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-button button {
        padding: 10px 15px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 17px;
    }
    /* my-projects nds here */

    /* my-blogs starts here */
    .my-blogs-content{
        padding: 0;
    }
    .logo-title{
        font-size: 16px;
        margin: 10px 0;
    }
    /* my-blogs ends here */

    /* testiominal starts */
    .testimonial-cards{
        padding: 0;
        flex-direction: column;
    }
    .testi-img{
        width: 162px;
    }
    .test-card-head {
        margin-top: 0;
        font-size: 1rem;
    }
    .test-card-desc {
        margin-top: 0;
        font-size: 14px;
    }
    /* testiominal ends */
}