@media only screen and (min-width: 200px) and (max-width: 576px) {
   .nav{
    font-size: 16px;
   } 







   .blogs-all-sections{
      flex-direction: column;
   }
   .blogs-pictures img{
      width: 50px;
   }
}