@media only screen and (min-width: 200px) and (max-width: 576px){
   .header-container{
       padding: 0;
   }
   .nav h3{
      font-size: 18px;
   }
   .banner-title{
      font-size: 25px;
   }
   .banner-desc {
      font-size: 15px;
   }
   .counting-container{
      flex-direction: column;
  }
  .banner-profile-container{
   display: flex;
   flex-direction: column;
  }

}